.ModalOverlay {
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(131, 131, 131, 0.185);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rbga(255, 255, 255, 0.18);
}

.Modal {
  z-index: 4;
  background: rgba(144, 130, 235, 0.85);
  box-shadow: 0 8px 32px 0 rgba(131, 131, 131, 0.185);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  width: 250px;
  border: 1px solid rbga(255, 255, 255, 0.18);
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.Modal span,
button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.Modal span {
  font-weight: 700;
  color: black;
  font-size: 1rem;
  text-align: center;
}

.Modal button {
  border: 1px solid rgb(76, 60, 177);
  border-radius: 5px;
  background-color: slateblue;
  font-weight: 700;
  font-size: 0.85rem;
  color: white;
  height: 1.5rem;
}
