.BtnWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}

.Button {
  border-radius: 0.75rem;
}

@media (orientation: landscape) {
  .BtnWrapper {
    width: 70vh;
  }

  .Button {
    font-size: 6vh;
  }
}

@media (orientation: portrait) {
  .BtnWrapper {
    width: 80vw;
  }

  .Button {
    font-size: 7vw;
  }
}

.InActive {
  color: black;
  background-color: rgb(229, 226, 255);
  border: 2px solid rgb(144, 130, 235);
}
