.Table {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 0.2rem;
  gap: 0.2rem;
  background-color: lightgray;
  margin: 0.5vw 0;
  border: 0.2rem solid lightgray;
}

.TableCell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

@media (orientation: landscape) {
  .Table {
    height: 70vh;
    width: 70vh;
  }

  .TableCell {
    font-size: calc(60vh / 3 - 1rem);
  }
}

@media (orientation: portrait) {
  .Table {
    height: 80vw;
    width: 80vw;
  }

  .TableCell {
    font-size: calc(70vw / 3 - 1rem);
  }
}
